/** {
    border: red solid 1px;
}*/

body {
    background-color: darkblue;
}

@media only screen and (min-width: 760px) {
    body {
        margin: 0;
    }
}

/*Header*/
h1 {
    font-size: 3rem;
    color: lightgray;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 90);
    border: 3px solid black;
    padding: 5px;
    margin-top: 0;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.5rem;    
        border-radius: 5px;
    }
}
@media only screen and (max-width: 760px) {
    h1 {
        font-size: 2.5rem;    
    }
}

/*User and Comp labels and boxes*/
#human-label {
    width: 0; 
    height: 0; 
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent; 
    border-left:70px solid black; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#computer-label {
    width: 0; 
    height: 0; 
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent; 
    border-left:70px solid gray; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#user-small-label, #comp-small-label {
    display: none;
    text-align: center;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .75;
    margin: 0;
}

@media only screen and (max-width: 725px){
    #human-label, #computer-label {
        display: none;
    }
    #user-small-label, #comp-small-label {
        display: block;
    }
}

#changer, #changer2 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
}

.box {
    font-size: 1.5rem;
    border: 5px solid black;
    padding: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 850px){
    #changer, #changer2 {
        justify-content: space-between;
    }
    .box {
        height: 75px;
        width: 75px;
    }
}
@media only screen and (max-width: 500px){
    .box {
        height: 50px;
        width: 50px;
    }
}

/*Bottom section*/
#input {
    display: flex;
    justify-content: center;
}

.input-field {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: .8rem;
    text-align: center;
}

#input-button {
    padding: 10px;
}

#score-human, #score-computer {
    text-align: center;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

#winnerU, #winnerC {
    text-align: center;
    margin: 0;
    font-size: .85rem;
    text-wrap: wrap;
    height: 30px;
}

#you-got, #your-score, #computer-got, #computer-score {
    display: inline-block;
}

@media only screen and (max-width: 500px){
    #your-score, #computer-score {
        font-size: .3rem;
    }
    #your-matches, #comp-matches {
        font-size: .8rem;
    }
}

#your-score, #computer-score {
    font-size: 3rem;
    margin-left: 20px;
}

h3 {
    font-size: 2rem;
    color: rgb(197, 179, 20);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}


@media only screen and (min-width: 500px) and (max-width: 890px) {
    #bottom {
        margin-top: 0;
    }
    #user-pts, #comp-pts {
        font-size: 1rem;
    }
}

#bottom-left, #bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
    #bottom-left, #bottom-right {
        justify-content: start;
        padding-bottom: 0px;
        background-color: rgb(0, 0, 90);
        border: solid 2px black;
        border-radius: 5px;
    }
    #bottom {
        margin-top: 55px;
    }
}

#comp-pts-label, #user-pts-label {
    margin: 0;
    opacity: .75;
}

#user-pts, #comp-pts {
    font-size: 9rem;
    text-align: center;
    margin: 0;
    opacity: .65;
    text-shadow: 5px 5px rgb(0, 0, 90);
}

@media only screen and (max-width: 500px){
    #user-pts, #comp-pts {
        font-size: 3.5rem;
        text-shadow: 5px 5px darkblue;
        border-radius: 5px;
    }
    #comp-pts-label, #user-pts-label {
        font-size: 1.3rem;
        padding: 3px;
        text-shadow: 1.5px 1.5px darkblue;
        border-radius: 5px;
    }
}
#rules-link {
    text-align: center;
}

/*Rules page*/
#rules {
    color: white;
    text-align: center;
    font-size: 3rem;
}

#explanation {
    color: rgb(170, 170, 170);
    margin: 30px  30px;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: solid black 3px;
    padding:4px;
}

.rule-list {
    color: lightgrey;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}

a {
    color: gold;
    border-radius: 3px;
    text-align: center;
}

/*example changers and boxes*/
#changerEx1, #changerEx2, #changerEx3, #changerEx32, #changerEx4, #changerEx5, #changerEx6 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
}

@media only screen and (max-width: 850px){
    #changerEx1, #changerEx2, #changerEx3, #changerEx32, #changerEx4, #changerEx5, #changerEx6 {
        justify-content: space-between;
    }
    .ExBox {
        height: 75px;
        width: 75px;
    }
}
@media only screen and (max-width: 500px){
    .ExBox {
        height: 50px;
        width: 50px;
    }
}

/*Example box styles*/
.ExP {
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

.ExBox {
    font-size: 1.5rem;
    border: 5px solid black;
    padding: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

#Ex1box1 {
    background-color: red;
}
#Ex1box2 {
    background-color: red;
}
#Ex1box3 {
    background-color: red;
}
#Ex1box4 {
    background-color: red;
}
#Ex2box1 {
    background-color: red;
}
#Ex2box2 {
    background-color: orange;
}
#Ex2box3 {
    background-color: green;   
}
#Ex2box4 {
    background-color: blue;
}
#Ex3box1 {
    background-color: purple;
}
#Ex3box2 {
    background-color: purple;
}
#Ex3box3 {
    background-color: purple;
}
#Ex3box4 {
    background-color: purple;
}
#Ex32box1 {
    background-color: green;
}
#Ex32box2 {
    background-color: red;
}
#Ex32box3 {
    background-color: orange;
}
#Ex32box4 {
    background-color: blue;
}
#Ex4box1 {
    background-color: purple;
}
#Ex4box2 {
    background-color: yellow;
}
#Ex4box3 {
    background-color: green;
}
#Ex4box4 {
    background-color: yellow;
}
#Ex5box1 {
    background-color: green;
    box-shadow: 3px 3px white;
}
#Ex5box2 {
    background-color: blue;
}
#Ex5box3 {
    background-color: purple;
}
#Ex5box4 {
    background-color: blue;
}
#Ex6box1 {
    background-color: red;
    box-shadow: 3px 3px white;
}
#Ex6box2 {
    background-color: orange;
}
#Ex6box3 {
    background-color: purple;
    box-shadow: 3px 3px white;
}
#Ex6box4 {
    background-color: orange;
}







